<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="rootPath" value="katalogTestow"/> <!-- Korzeń katalogów -->
    <add key="emptyDir" value="empty"/> <!-- Nazwa pustego katalogu -->
    <add key="notEmptyDir" value="files"/> <!-- Katalog z plikami -->
    <add key="rootFileName" value="test"/> <!-- Nazwa przedrostka plików -->
    <add key="toDeleteFileName" value="test123.txt"/> <!-- Nazwa pliku do usuniecia -->
    <add key="fileFrom" value="ft.txt"/>
    <!-- Nazwa pliku z miejsca -->
    <add key="fileTo" value="nft.txt"/>
    <!-- Nazwa pliku do miejsca -->
  </appSettings>
</configuration>